<p>
  <b>Live matches count:</b> <%= @live_matches_count %>
</p>
<hr/>
<% @live_matches.each do |match| %>
  <p>
    [<%= match.league_name %> | <%= match.id %> | <%= match.created_at %>] <%= match.radiant&.name %> VS <%= match.dire&.name %>
  </p>
<% end %>