<p>
  <b>Live matches count:</b> <%= @live_matches_count %>
</p>
<hr/>
<% @live_matches.each do |match| %>
  <p>
    [<%= match.league_name %> | <%= match.id %> | <%= match.creted_at %>] <%= match.radiant %> VS <%= match.dire %>
  </p>
<% end %>