<p>
  <b>Finished matches count:</b> <%= @finished_matches_count %>
</p>
<hr/>
<% @recent_matches.each do |match| %>
  <p>
    [<%= match.league_name %> | <%= match.id %> | <%= match.updated_at %>] <%= match.radiant&.name %> VS <%= match.dire&.name %>
  </p>
<% end %>